@model MVCPrac.Models.Test
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm("ReturnPage", "Test"))
{
    <div class="row">
        <div class="col-xs-6">
            @Html.LabelFor(x => x.FirstName)
            @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="col-xs-10">
            <button type="submit" name="submit" class="btn-primary">Submit</button>
        </div>
    </div>
}
